<%- include("partials/header") %>

<h1> <%= postName  %> </h1>
<p> <%= postBody %> </p>

<%- include("partials/footer") %>




<!-- Get title of post clicked on -->
<!-- Find object in blogPosts that has that title -->
<!-- Display title and body -->